{{template "header.html" . }}
<div class="container-fluid">
    <img class="img-custom" src="/assets/img/saigon3.jpg" alt="Palacio de la Reunificación">
</div>
<div style="background-color: #583464; padding: 15px 150px;
    text-align: left;
    width: 100%;">
    <h2 style="color: white">Nuestra Historia</h2>
</div>
<section class="container">
    <div class="text-justify">
        <div class="row" style="margin: 50px 0;">
            <div class="col-lg-6 col-md-12">
                <img src="/assets/img/hochiminh.jpg" alt="Ho Chi Minh" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-lg-6 col-md-12">
                <h4>SaigonMobile fue fundada por el legendario líder vietnamita Ho Chi Minh, nuestra empresa 
                lleva aún su espíritu visionario.<br>Después de triunfar en la guerra contra los Estados Unidos y renombrar la ciudad de Saigón en su honor, 
                Ho Chi Minh quedó consternado por la posibilidad de que el nombre de Saigón se perdiera en la historia, y sintió la responsabilidad
                de asegurar su perdurabilidad. Por lo cual se mudó a Corrientes, Argentina y fundó SaigonMobile. Aunque actualmente está
                administrada por taiwaneses, seguimos honrando su legado manteniendo viva la esencia de Saigón en cada producto que ofrecemos. Nos 
                enorgullece ser herederos de su legado, ofreciendo tecnología de vanguardia con un toque de historia y cultura. Nuestro 
                compromiso con la calidad y la innovación sigue siendo la fuerza impulsora detrás de todo lo que hacemos. Únete a nosotros 
                mientras continuamos llevando el nombre de Saigón hacia el futuro.</h4>
            </div>
        </div>
    </div>
</section>

<div style="background-color: #583464; padding: 15px 150px;
    text-align: left;
    width: 100%;">
    <h2 style="color: white">Administración actual: Presidente Wang</h2>
</div>

<section class="container">
    <div class="text-justify">
        <div class="row" style="margin: 50px 0;">
            <div class="col-lg-6 col-md-12">
                <img src="/assets/img/presidente-wang.jpg" alt="Sea-Fue Wang" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-lg-6 col-md-12">
            <h4>Tuve el honor de ser elegido como el decimocuarto presidente de SaigonMobile y tomé posesión el 1 de febrero de 2018. Como el segundo presidente 
                que asumió el cargo como exempleado, considero que la gran responsabilidad detrás de este rol es un nuevo desafío. Tengo más de veinte años de
                 experiencia en comercio internacional y más de quince años de experiencia administrativa en esta empresa. Con el objetivo de construir un negocio 
                 de renombre nacional en mente, me dedicaré a llevar y transmitir el legado excepcional de Ho Chi Minh y llevar a Taipei Tech a alcanzar su cima nuevamente.</h4>
            </div>
        </div>
        <div class="row">
            <h5>Presidente de SaigonMobile<br>
                Lic. Sea-fue Wang<br>
                Teléfono: 886-2-2771-3371<br>
                Fax: 886-2-9951-8845<br>
                Correo electrónico: sfwang@saigonmobile.com<br>
                Oficina: Sala 414-2 en el Edificio de Recursos Humanos, en la calle 9 de julio al 1449<br><br>
                Formación académica<br>
                Lic., Administración de Empresas, Universidad Estatal de Pensilvania, 1991<br>
                Maestría en Comercio Exterior, Escuela de Negocios de Dakota del Sur, 1985<br>
            </h5>
        </div>
    </div>
</section>
{{template "footer.html" . }}