{{template "header.html" . }}
<style>
    .card-body{
      background: linear-gradient(62deg, #e0c3fc 0%, #8EC5FC 50%, #E0C3FC 100%);
    }
    .card-header{
      background: linear-gradient(62deg, #e0c3fc 0%, #8EC5FC 50%, #E0C3FC 100%);
    }
    </style>
  
  <div class="container mt-5">
  
      <div class="jumbotron">
        <h1 class="display-4">¿Qué productos puedo encontrar en SaigonMobile?</h1>
        <p class="lead">En SaigonMobile, nos esforzamos por ofrecer una amplia gama de productos y servicios para satisfacer tus necesidades. 
          Nuestro catálogo incluye smartphones de última generación y accesorios que no encontrás en otro lugar. Descubrí todo lo que tenemos 
          para vos explorando nuestra tienda online.</p>
      </div>
  
      <div class="card mb-3">
        <div class="card-header" id="pagos">
          ¿Qué opciones de pago están disponibles para comprar en SaigonMobile?
        </div>
        <div class="card-body">
          <p class="card-text">En SaigonMobile, podés pagar tus compras utilizando tarjeta de crédito (ya sea propia o de un tercero), de débito, 
              transferencia o por medio de efectivo en nuestra tienda física.</p>
          <p class="card-text">También te ofrecemos la opción de comprar con dos tarjetas de crédito, dándote más opciones al momento de elegir. 
              Combina tus tarjetas y llevate lo último en tecnología móvil sin complicaciones.</p>
        </div>
      </div>
  
      <div class="card mb-3">
        <div class="card-header">
          ¿Es seguro realizar compras a través de la página?
        </div>
        <div class="card-body">
          <p class="card-text">La seguridad de tus transacciones es nuestra prioridad. Nuestra página cuenta con medidas de seguridad robustas, 
              incluyendo cifrado de datos SSL, para asegurar que tu información personal y financiera esté protegida en todo momento. Además, 
              tenemos una política de privacidad transparente y un equipo de soporte al cliente listo para asistirte en caso de cualquier inquietud.</p>
        </div>
      </div>
  
      <div class="card mb-3">
        <div class="card-header">
          ¿Cómo puedo obtener asistencia si tengo problemas con mi compra en SaigonMobile?
        </div>
        <div class="card-body">
          <p class="card-text">Estamos para ayudarte. Si tenés algún problema con tu compra, podés contactarte con nuestro número 
              <strong>3624-018401</strong>, de lunes a domingo de 7 a 24 hs, vía nuestras redes sociales o acercarte a nuestro local en <strong>9 de Julio 1449 en horario comercial</strong>.</p>
        </div>
      </div>
  
      <div class="card mb-3">
        <div class="card-header" id="envios">
          ¿Cuáles son las formas de envío?
        </div>
        <div class="card-body">
          <p class="card-text">Hacemos envíos a todo el país a través de MercadoEnvíos.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header" id="envios">
          ¿Cuáles son las formas de entrega?
        </div>
        <div class="card-body">
          <p class="card-text">Como trabajamos con MercadoEnvíos tenés la opción de recibir el producto directamente en tu dirección o podés seleccionar el punto de retiro Pickit que más te convenga.</p>
        </div>
      </div>
  </div>

{{template "footer.html" . }}