    <style>
        .footer-links .row {
        justify-content: center; /* Centra el contenido en pantallas pequeñas */
        }
        @media (min-width: 768px) {
        .footer-links .row {
            justify-content: space-between; /* Distribuye el contenido en pantallas medianas y grandes */
        }
        }
        .social-icons a {
        margin-right: 10px;
        }
        .social-icons a:last-child {
        margin-right: 0;
        }
    </style>
    
    <footer
        class="text-center text-lg-start text-white"
        style="background-color: #6f4578; margin-top: 33vh">
    
        <section
        class="d-flex justify-content-between p-4"
        style="background-color: #d25094;">
            <div class="me-5 d-none d-sm-block">
            <span>Conéctate con nosotros en las redes sociales:</span>
            </div>
            <div>
            <a href="https://x.com/SaigonMobile_ok?t=JjLn83b4gpyWsodPwg-rzw&s=08" class="text-white me-4" target="_blank">
                <img src="/assets/img/icons/twitter.svg" alt="Twitter" style="width: 24px; height: 24px;">
            </a>
            <a href="https://www.instagram.com/saigonmobile_ok?igsh=eGFqM3BvbzdsdTM=" class="text-white me-4" target="_blank">
                <img src="/assets/img/icons/instagram.svg" alt="instagram" style="width: 24px; height: 24px;">
            </a>
            <a href="https://www.linkedin.com/in/isaac-diazarg/" class="text-white me-4" target="_blank">
                <img src="/assets/img/icons/linkedin.svg" alt="linkedin" style="width: 24px; height: 24px;">
            </a>
            </div>
        </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold">SaigonMobile</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p style="color: white; font-weight: bold">
                    Encontrá lo mejor en telefonía mobile en nuestra tienda,
                    seguinos y enterate de nuestras novedades y todo lo nuevo
                    que está por venir.
                </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Productos</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                    <a href="#" class="text-white">Celulares</a>
                </p>
                <p>
                    <a href="#" class="text-white">Audio</a>
                </p>
                <p>
                    <a href="#" class="text-white">Smartwatchs</a>
                </p>
                <p>
                    <a href="#" class="text-white">Accesorios</a>
                </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Links útiles</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                    <a href="#" class="text-white">Iniciar sesión</a>
                </p>
                <p>
                    <a href="#" class="text-white">Registrarse</a>
                </p>
                <p>
                    <a href="#" class="text-white">Comercialización</a>
                </p>
                <p>
                    <a href="#" class="text-white">Ayuda</a>
                </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contactos</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p style="color: white; font-weight: bold"><i class="fas fa-home mr-3"></i> 9 de Julio 1445, Corrientes, Arg</p>
                <p style="color: white; font-weight: bold"><i class="fas fa-envelope mr-3"></i> saigonMobile_corrientes@outlook.com</p>
                <p style="color: white; font-weight: bold"><i class="fas fa-phone mr-3"></i> +54 3624-018401</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            </div>
        </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
        <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2);"
            >
            © 2024 Copyright: Todos los derechos reservados, SaigonMobile
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    
</body>
</html>