{{template "header.html" . }}
<div class="container text-justify mt-5">

    <h1 class="mb-4">Términos de Uso</h1>

    <h2 id="devoluciones">1. Devoluciones</h2>
    <h5>Aceptamos devoluciones dentro de las primeras 24 horas hábiles después de la compra, siempre y cuando el producto se encuentre en su estado original y con el embalaje intacto.</h5>

    <h2 id="plan-canje">2. Plan de Canje</h2>
    <h5>Nuestro plan de canje te permite traer un celular viejo como parte de pago al adquirir un nuevo dispositivo en SaigonMobile. El celular viejo debe estar en condiciones de 
        funcionamiento y será evaluado por nuestro equipo técnico.</p>

    <h2>3. Privacidad</h2>
    <h5>Respetamos tu privacidad y nos comprometemos a proteger tus datos personales. No compartimos tus datos con terceros.</h5>

    <h2>4. Seguridad</h2>
    <h5>Nuestra página web cuenta con medidas de seguridad robustas para proteger tus datos durante la navegación y las transacciones. Utilizamos cifrado SSL para garantizar la seguridad 
        de la información.</p>

    <h2>5. Responsabilidad</h2>
    <h5>Nos esforzamos por ofrecer información precisa y actualizada en nuestro sitio web, pero no podemos garantizar la ausencia de errores u omisiones. SaigonMobile no se hace responsable 
        por cualquier daño directo, indirecto, incidental, especial o consecuente que pueda surgir del uso de nuestro sitio web.</h5>

    <h2>6. Cambios en los Términos</h2>
    <h5>Nos reservamos el derecho de modificar estos Términos en cualquier momento y sin previo aviso. Se recomienda revisar periódicamente esta página para estar al tanto de cualquier cambio.</h5>

    <h2>7. Contacto</h2>
    <h5>Si tienes alguna pregunta o inquietud sobre estos Términos de Uso, no dudes en contactarnos visitando la pestaña Información de Contactos</h5>
    <h2>8. Propiedad Intelectual</h2>
    <h5>Todos los derechos de propiedad intelectual sobre el contenido y los materiales proporcionados en este sitio web son propiedad de SaigonMobile o de sus licenciantes, y están protegidos 
        por las leyes de propiedad intelectual.</p>

    <h2>9. Uso Aceptable</h2>
    <h5>Al utilizar nuestro sitio web, aceptas no utilizarlo para ningún propósito ilegal o no autorizado, ni violar cualquier ley en tu jurisdicción.</h5>

    <h2>10. Limitación de Responsabilidad</h2>
    <h5>En ningún caso SaigonMobile, ni sus directores, empleados, socios o afiliados serán responsables ante ti o cualquier tercero por daños indirectos, incidentales, especiales, consecuentes 
        o punitivos, incluyendo, sin limitación, pérdida de beneficios, datos, uso, goodwill, o cualquier otra pérdida intangible, derivada de tu acceso o uso de, o tu incapacidad para acceder 
        o usar, el sitio web, incluso si SaigonMobile ha sido informado de la posibilidad de tales daños.</h5>

</div>
{{template "footer.html" . }}